<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}" />

  {{#config "/use_open_sans_font"}}
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&subset=latin,latin-ext" />
  {{/config}}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/solarized_light.min.css" />
  <link rel="stylesheet" href="{{asset "css/style.css"}}" />

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
  {{> "google_analytics"}}
</head>

<body class="{{body_class}}">

  <header class="site-header" role="banner">
    <div class="container">
      <h1 class="site-title">> Open Door Go North</h1>
      {{navigation}}
    </div>
  </header>

  <main class="container" role="main">
    {{{body}}}
  </main>

  <footer class="site-footer" role="contentinfo">
    <div class="container">
      <div id="footer-links" class="footer-links">
        <ul class="x-separated-list">
          {{! read values from main config }}
          {{#config "/footer_links"}}
            {{! we use a template helper here to compile the config data }}
            <li><a href="{{tmpl href}}">{{name}}</a></li>
          {{/config}}
        </ul>
      </div>
      &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a>.
      Somewhat published with <a href="https://ghost.org">Ghost</a>.
    </div>
  </footer>

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
  <script src="{{asset "js/script.js"}}"></script>

  {{#config "/server/livereload" }}
  <script src="http://0.0.0.0:35729/livereload.js?snipver=1" type="text/javascript"></script>
  {{/config}}

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}
</body>
</html>
